/* src/app/home/home.page.css or your global stylesheet */

/* search */
.search-section {
    padding: 100px 0;

    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff; 
    margin-top: 50px;
  }
  
  .search-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .search-section .row {
    position: relative;
    z-index: 2;
  } 

  