/* src/app/home/home.page.css or your global stylesheet */

/* search */
.search-section {
    padding: 100px 0;

    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff; 
    margin-top: 50px;
  }
  
  .search-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .search-section .row {
    position: relative;
    z-index: 2;
  }
  
  /* heading with search icon */
  .search-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-icon {
    font-size: 2em;
    margin-right: 10px;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .search-input {
    width: 80%;
    max-width: 600px;
    padding: 15px;
    font-size: 18px;
    border-radius: 50px;
    margin-bottom: 20px;
    border: none;
    outline: none;
  }
  
  .search-button {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #000000;
  }
  
  .search-button:hover {
    background-color: #c2bbac;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  