.content {
  margin-left: 250px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000000cc;
}
.book-info {
  display: flex;
  flex-direction: row;
  min-width: 300px;
  padding-top: 40px;
}
.cover-review-book {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  min-width: 450px;
  padding-right: 25px;
}

.cover-book {
  border: 8px solid rgb(227, 227, 163);
}
.cover-book img {
  width: 300px;
  height: 450px;
}

.author {
  font-size: 1.3rem;
  font-weight: 300;
}
.title {
  margin-bottom: 0;
  color: #000000cc;
}
.genres {
  display: flex;
  margin: 20px;
}
.genre {
  background: rgb(227, 227, 163);
  margin: 5px;
  padding: 0px 5px;
}
.description {
  margin-right: 7rem;
}

.review-score {
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
}
.stars {
  display: flex;
  flex-direction: row;
}
.score {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bg-amber-600 {
  background-color: rgb(204, 204, 123);
}

.focus\:ring-yellow-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(223 223 112 / var(--tw-ring-opacity));
}
.cover-review-book button{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}